/* Reset margins, paddings, and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-size: 9px;
  font-weight: 500;
  display: flex; /* make body a flex container */
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  padding-top: 70px;
  padding-bottom: 70px;
}

.recipe-page {
  height: 100vh; /* full viewport height */
  margin: 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(30, 10%, 34%);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 420px;
  height: 870px;
  border-radius: 20px;
  padding-top: 17px;
}

.img-omelette {
  width: 380px;
  height: 160px;
  object-fit: cover;
}

.img-omelette img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}

p {
  font-size: 9px;
}

.omelette {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 380px;
  height: 85px;
  padding-top: 13px;
}

.omelette h1 {
  font-size: 22px;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(24, 5%, 18%);
}

.omelette p {
  font-size: 9px;
}

.prep-time {
  display: flex;
  flex-direction: column;
  background-color: hsl(330, 100%, 98%);
  width: 380px;
  height: 95px;
  line-height: 1.15rem;
  border-radius: 7px;
  padding-top: 12px;
  padding-left: 15px;
}

h2 {
  color: hsl(332, 51%, 32%);
  font-size: 10px;
}

ul {
  padding-left: 17px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 160px;
  line-height: 1.15rem;
  padding-top: 12px;
}

h3 {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-size: 15px;
  font-weight: 400;
}

.ingredients ul {
  padding-left: 19px;
  padding-top: 8px;
}

.instructions {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 265px;
  padding-top: 12px;
  line-height: 1.15rem;
}

.instructions ol {
  padding-left: 17px;
  padding-top: 8px;
  font-size: 9px;
}

.nutrition {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 175px;
  padding-top: 12px;
  line-height: 1.2rem;
}

.nutrition ul {
  padding-left: 17px;
  padding-top: 8px;
}

.nutrit {
  padding-top: 5px;
}
.nut-p {
  padding-top: 8px;
}

span {
  padding-left: 180px;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.nutrients {
  padding-left: 19px;
}

.cal {
  padding-left: 140px;
}

.carbs {
  padding-left: 150px;
}

.protein {
  padding-left: 145px;
}

.fat {
  padding-left: 160px;
}

.line {
  height: 0.1px; /* thickness */
  background: hsl(30, 3%, 88%); /* color */
  width: 90%; /* length */
}

.prep-time li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}

li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}
/* 
using a real table makes the code more semantic and much more accessible for screen readers. */

/* .nutrient-table {
  margin-top: 17px;
}

table {
  border-collapse: collapse;
  margin-top: 25px;
  font-family: "Outfit", sans-serif;
}

.border {
  border-top: 1px solid var(--Stone150);
  border-bottom: 1px solid var(--Stone150);
}

td {
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 300;
  color: var(--Stone900);
}

.value {
  color: brown;
  font-weight: 600;
} */
